*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #141414;

}
.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    gap: 6px;
}
.loader span {
    width: 4px;
    height: 50px;
    background: #4c86f9;
    animation: scale 0.9s infinite ease-in-out;

}
.loader span:nth-child(2) {
    background: #49a84c;
    animation-delay: -0.8s;

}
.loader span:nth-child(3) {
    background: #f29f05;
    animation-delay: -0.7s;

}
.loader span:nth-child(4) {
    background: #f6bb02;
    animation-delay: -0.6s;

}
.loader span:nth-child(5) {
    background: #2196f3;
    animation-delay: -0.5s;

}
@keyframes scale {
    0%,40%, 100% {
        transform: scaleY(0.05);
    }
    20% {
        transform: scaleY(1);
    }
}